<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id        = "com.wildabeast.pgbtester"
        version   = "1.0.0">
    
    <name>Icon and Splash Demo</name>
    <author href="http://phonegap.com" email="support@phonegap.com">Ryan Willoughby</author>
    
    <preference name="phonegap-version"           value="cli-6.5.0" />
    <access origin="*" />


    <!-- IOS icons-->

    <platform name="ios">

        <!-- iPhone 6 / 6+ -->
        <icon src="res/ios/icon/icon-60@3x.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon/icon-60.png" platform="ios" width="60" height="60" />
        <icon src="res/ios/icon/icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="res/ios/icon/icon-76.png" platform="ios" width="76" height="76" />
        <icon src="res/ios/icon/icon-76@2x.png" platform="ios" width="152" height="152" />
        <icon src="res/ios/icon/icon-83.5@2x.png" platform="ios" width="167" height="167" />

        <!-- Settings Icon -->
        <icon src="res/ios/icon/icon-29.png" platform="ios" width="29" height="29" />
        <icon src="res/ios/icon/icon-29@2x.png" platform="ios" width="58" height="58" />
        <icon src="res/ios/icon/icon-29@3x.png" platform="ios" width="87" height="87" />

        <!-- Spotlight Icon -->
        <icon src="res/ios/icon/icon-40.png" platform="ios" width="40" height="40" />
        <icon src="res/ios/icon/icon-40@2x.png" platform="ios" width="80" height="80" />
        <icon src="res/ios/icon/icon-40@3x.png" platform="ios" width="120" height="120" />

        <!-- Store Marketing Icon -->
        <icon src="res/ios/icon/icon-1024.png" width="1024" height="1024" />


        <!-- IOS Splash -->

        <!-- iPhone 6 -->
        <splash src="res/ios/splash/splash-667h@2x.png" platform="ios" width="750" height="1334" />
        <splash src="res/ios/splash/splash-portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
        <splash src="res/ios/splash/splash-landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

        <!-- Retina iPad -->
        <splash src="res/ios/splash/splash-portrait@2x.png" platform="ios" width="1536" height="2048" />
        <splash src="res/ios/splash/splash-landscape@2x.png" platform="ios" width="2048" height="1536" />

    </platform>


    <platform name="android">

        <!-- Android Icons -->

        <icon src="res/android/icon/icon-36-ldpi.png"       platform="android"    density="ldpi" />
        <icon src="res/android/icon/icon-48-mdpi.png"       platform="android"    density="mdpi" />
        <icon src="res/android/icon/icon-72-hdpi.png"       platform="android"    density="hdpi" />
        <icon src="res/android/icon/icon-96-xhdpi.png"      platform="android"    density="xhdpi" />
        <icon src="res/android/icon/icon-144-xxhdpi.png"    platform="android"    density="xxhdpi" />
        <icon src="res/android/icon/icon-192-xxxhdpi.png"   platform="android"    density="xxxhdpi" />

        <!--  Icon modifier example (not working?) -->
        <!--
            <icon src="res/android/icon/icon-fr-xhdpi.png"            platform="android" qualifier="fr-xhdpi" />
        -->


        <!-- Android Splash -->

        <splash src="res/android/splash/splash-ldpi-portrait.png"       platform="android" qualifier="port-ldpi" />
        <splash src="res/android/splash/splash-ldpi-landscape.png"      platform="android" qualifier="land-ldpi" />
        <splash src="res/android/splash/splash-mdpi-portrait.png"       platform="android" qualifier="port-mdpi" />
        <splash src="res/android/splash/splash-mdpi-landscape.png"      platform="android" qualifier="land-mdpi" />
        <splash src="res/android/splash/splash-hdpi-portrait.png"       platform="android" qualifier="port-hdpi" />
        <splash src="res/android/splash/splash-hdpi-landscape.png"      platform="android" qualifier="land-hdpi" />
        <splash src="res/android/splash/splash-xhdpi-portrait.png"       platform="android" qualifier="port-xhdpi" />
        <splash src="res/android/splash/splash-xhdpi-landscape.png"      platform="android" qualifier="land-xhdpi" />
        <splash src="res/android/splash/splash-xxhdpi-portrait.png"       platform="android" qualifier="port-xxhdpi" />
        <splash src="res/android/splash/splash-xxhdpi-landscape.png"      platform="android" qualifier="land-xxhdpi" />
        <splash src="res/android/splash/splash-xxxhdpi-portrait.png"       platform="android" qualifier="port-xxxhdpi" />
        <splash src="res/android/splash/splash-xxxhdpi-landscape.png"      platform="android" qualifier="land-xxxhdpi" />

    </platform>

</widget>
